# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Work\quarkus-gradle-generator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/generated/